@import "../../Style";

@mixin progress ($times, $qtd) {
  &[data-progress="#{$times}"]:before, &[data-progress="#{$times}"]:after {
    top: $qtd;
  }
}

.container {
  @include flexCenter;
  user-select: none;

  &[data-mode="fill"] {
    @include hw(100%);
  }
  &[data-mode="full"] {
    @include h(100vh);
    @include w(100vw);
  }

  &[data-size="micro"] {
    .water {
      width: 3.5em;
      height: 3.5em;
      // box-shadow: inset 0 0 10px 0 rgba(0,0,0,.3), 0 1px 4px 0 rgba(0,0,0,.3);
    }
  }

  &[data-size="mini"] {
    .water {
      width: 100px;
      height: 100px;
      // box-shadow: inset 0 0 10px 0 rgba(0,0,0,.3), 0 1px 4px 0 rgba(0,0,0,.3);
    }
  }
  &[data-size="tiny"] {
    .water {
      width: 200px;
      height: 200px;
    }
  }
  &[data-size="medium"] {
    .water {
      width: 400px;
      height: 400px;
      box-shadow: inset 0 0 30px 0 rgba(0,0,0,.5), 0 4px 10px 0 rgba(0,0,0,.5);
    }
  }
}

.label {
  @include fontBold;

  font-size: 1.5em;
  position: absolute;
  z-index: 10;
}

.water{
  @include flexCenter;
  @include progress (0, 0%);
  @include progress (1, -10%);
  @include progress (2, -20%);
  @include progress (3, -30%);
  @include progress (4, -40%);
  @include progress (5, -50%);
  @include progress (6, -60%);
  @include progress (7, -70%);
  @include progress (8, -80%);
  @include progress (9, -90%);
  @include progress (10, -100%);

  background-color: skyblue;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  &:before, &:after{
    content:'';
    width: 100%;
    height: 100%;
    top: -50%;
    position: absolute;
    background-color: #fff;
  }

  &:before{
    border-radius: 45%;
    background:rgba(255,255,255,.7);
    animation:wave 5s linear infinite;
  }

  &:after{
    border-radius: 35%;
    background:rgba(255,255,255,.3);
    animation:wave 5s linear infinite;
  }
}

@keyframes wave{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


[data-theme="light"] {
  .container[data-mode="full"] {
    background-color: $background;
  }

  .label {
    color: $primary;
  }
}
