@import "../../Style";

.container {
  @include flexCenter;
  @include shadowInsetTiny;

  margin: $paddingMini;
  padding: $paddingTiny;
  border-radius: $radius;

  cursor: text;

  > input {
    width: 100%;
  }
}

[data-theme="light"] {
  background-color: white;
}
