@import "../../Style/index.scss";

.container {
  @include h(100vh);
  @include w(100vw);

  display: flex;
}

.left {
  @include h(100vh);
  @include w(15vw);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: inset -1px 0px 3px 2px rgba(0,0,0,0.1);

  position: sticky;
  left: 0;
  top: 0;

  user-select: none;
}

.header {
  @include flexCenter;

  padding: $paddingMedium;

  > img {
    @include hw(3em);

    margin-right: $paddingTiny;

    cursor: pointer;
    border-radius: $radius;
    transition: all 0.5s;
  }
}

.mode-selector {
  padding: $paddingTiny;
  border-radius: $radius;

  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.5rem;

  > span:first-child {
    font-size: 1rem;
  }
}

.nav-items > li {
  transition: all 0.5s;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover, &[data-active="true"] {
    &::before {
      content: " ";
      border-radius: 0 $radius $radius 0;

      position: absolute;
      background-color: $primary;
      width: .5rem;
      height: 80%;
    }

    .nav-item {
      padding-left: 2.5rem;
    }
  }

  .nav-item {
    padding: $paddingMediumRetangular;
    transition: padding .5s;

    > svg {
      margin-right: $paddingMedium;
    }
  }
}

.footer {
  padding: $paddingMedium;

  @include flexArd;

  > svg {
    font-size: 1.2em;
    cursor: pointer;
  }
}

.right {
  @include h(100vh);
  @include w(85vw);
}

[data-theme="light"] {
  .right {
    background-color: $background;
  }

  .nav-items > li {
    &[data-active="false"] {
      color: $gray;
    }

    &:hover, &[data-active="true"] {
      color: $primary;
    }
  }

  .mode-selector {
    color: $gray;

    &:hover > span:last-child {
      color: $primary;
    }
  }

  .footer > svg {
    color: $gray;

    &[data-new-notification="true"] {
      color: $primary;
    }
  }
}
