@import "../../Style";

.container {
  display: flex;
}

.left {
  @include w(50vw);

  padding: $paddingTiny;
}

.right {
  @include w(35vw);
  @include h(100vh);
}
@include hideScroll(right);

.topic-title {
  @include fontBold;

  padding: $paddingMedium 0 $paddingTiny 0;
  font-size: $fontBig;

  width: 100%;
  text-align: center;
}

.profile-pic {
  @include hw(12em);
  border-radius: $radius;
}

[data-theme="light"] {
  .container > div {
    color: $gray;
  }
}
