@import "../../Style";

.container {
  display: flex;
}

.left {
  @include w(35vw);
  @include h(100vh);
}
@include hideScroll(left);

.right {
  @include w(50vw);

  padding: $paddingTiny;
  padding-left: $paddingMini;
}

.topic-title {
  @include fontBold;

  padding: $paddingMedium 0 $paddingTiny 0;
  font-size: $fontBig;

  width: 100%;
  text-align: center;
}

[data-theme="light"] {
  .container > div {
    color: $gray;
  }

  .profile-pic > svg {
    color: white;
  }
}
